# Kubernetes Service for Cats vs Dogs Classifier

apiVersion: v1
kind: Service
metadata:
  name: catsdogs-classifier-service
  labels:
    app: catsdogs-classifier
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8000
      nodePort: 30080
      protocol: TCP
  selector:
    app: catsdogs-classifier
